.svn
*~
*.kate-swp
.*.swp
.idea
*.vscode/
docs/
composer.lock
vendor/
node_modules/
.eslintcache
*.js.map
.DS_Store
tests/selenium/log
**/i18n/*.json
**/i18n/api/*.json
/modules/new_js
includes/ActionApi/ApiContentTranslationPublish.phpz
/i18n
/i18n/minT
